<div>Paste in your CSV and press the Parse button</div>
<textarea
  value={{csvText}}
  cols=80
  rows=10
  data-gramm="false"
  oninput={{action (mut csvText) value="target.value"}}
></textarea>

<br>
<button {{action 'parse'}}>Parse</button>

{{#if error}}
  <div style="color:red">{{error.message}}</div>
{{/if}}

{{#if isDownloading}}
  <ProgressCircle
    @percentage={{progress}}
    @size=60
    @color='#569add'
  />
  <div>
    {{currentFile}}
  </div>
{{else}}
  <ul>
    {{#each groups as |group|}}
      <li>
        Group {{group.num}}: Contains {{group.records.length}} photos from {{group.startingTimestamp}} to {{group.endingTimestamp}}
        <button {{action 'download' group}}>Download</button>
      </li>
    {{/each}}
  </ul>
{{/if}}
